@use "./style.scss";
//#app {
  .el-input {
    .el-input__inner {
      height: 40px;
      line-height: 40px;
    }
    .el-input-group {
      line-height: normal;
    }
  }

  .el-select {
    .el-select__wrapper {
      height: 40px;
      line-height: 40px;
    }
  }

  .el-checkbox__inner {
    //background: $navBorder;
    border-radius: 4px;
  }

  .el-switch {
    .el-switch__core {
      min-width: auto;
    }
  }

  .el-tabs {
    .el-tabs__nav-wrap::after {
      width: 0;
    }
    .el-tabs__item {
      color: #9095a6;
      font-size: 18px;
      &.is-active,&:hover {
        color: #608fff;
      }
      &.is-disabled {
        cursor: not-allowed;
      }
      &.is-disabled:hover {
        //color: $labelColor;
      }

    }
    .el-tabs__active-bar {
      height: 3px;
      background-color: #2688F7;
    }
  }

  .el-table{
    background: transparent !important;
    &::before {
      height: 0!important;
    }
    .el-table__cell {
      padding: 12px 0 !important;
    }
    th {
      background-color: transparent !important;
      .cell {
        color: var(--colors-label);
        font-size: 12px;
        line-height: 16px;
        padding: 0;
      }
    }
    tr {
      background-color: transparent !important;
      td .cell {
        color: var(--colors-text);
        font-size: 14px;
        line-height: 18px;
        padding: 0;
      }
    }
    .cell {
      padding: 0;
    }
    td.el-table__cell, th.el-table__cell.is-leaf {
      border-color: var(--colors-line) !important;
    }
    .el-table__inner-wrapper:before {
      background-color: transparent !important;
    }
    .el-table__empty-text {
      color: var(--colors-label);
      font-size: 12px;
    }

  }
  .el-table__fixed-right::before, .el-table__fixed::before {
    height: 0 !important;
  }
  .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell {
    // background: var(--colors-card2) !important;
    background: transparent !important;
  }

  .el-popper {
    background-color: var(--colors-card2) !important;
    border: none !important;
    .el-popper__arrow:before{
      background-color: var(--colors-card2) !important;
      border-color: transparent !important;
    }
  }

  .el-progress {
    .el-progress-bar {
      .el-progress-bar__inner {
        background-color: var(--colors-primary);
      }
      .el-progress-bar__outer {
        height: 6px !important;
        background: #292C36;
      } 
    }
    .el-progress__text {
      color: var(--colors-text);
      font-size: 12px !important;
    }
  }
  .el-form {
    .el-form-item {
      margin-bottom: 16px;
    }
    .is-required .el-form-item__label::before {
      display: none;
    }
    .el-select {
      width: 100%;
    }
  }

  .el-date-editor {
    &.el-input {
      width: 100% !important;
    }
    .el-input__wrapper {
      --el-input-border-color: var(--colors-line);
      --el-input-hover-border-color: var(--colors-line);
      --el-input-focus-border-color: var(--colors-primary);
      background-color: var(--colors-input);
      border-radius: 12px;
    }
    .el-input__prefix {
      color: var(--colors-placeholder);
    }
    
    .el-input__inner {
      height: 48px;
      line-height: 48px;
      color: var(--colors-text);
      width: 100%;
    }
    input::placeholder {
      color: var(--colors-placeholder);
    }
  }

  .el-date-picker  {
    --el-bg-color-overlay: var(--colors-card2);
    --el-popper-border-radius: 12px;
    --el-datepicker-inner-border-color: var(--colors-line) !important;
    --el-datepicker-icon-color: #fff !important;
    --el-text-color-regular: #fff !important;
    --el-border-color-light: var(--colors-line) !important;
    
    .el-input__wrapper {
      --el-input-border-color: var(--colors-line);
      --el-input-hover-border-color: var(--colors-line);
      --el-input-focus-border-color: var(--colors-primary);
      background-color: var(--colors-input);
      border-radius: 12px;
    }

    .el-date-picker__time-header {
      input::placeholder {
        color: var(--colors-placeholder);
      }
    }
    input {
      color: var(--colors-text)
    }
    .el-date-picker__header-label {
      font-weight: 400;
    }
    .el-date-picker__header--bordered {
      border: none;
    }
    .el-time-panel {
      background-color: var(--colors-card) !important;
      border-color: var(--colors-line) !important;
      border-radius: 10px;
    }
    .el-year-table, .el-month-table {
      td.disabled .el-date-table-cell__text {
        background-color: var(--colors-label);
        color: #fff;
        opacity: 0.7;
        &:hover {
          color: #fff;
        }
      }
      td.current:not(.disabled) .el-date-table-cell__text {
        background-color: var(--colors-btn-primary);
      }
      td .el-date-table-cell__text:hover {
        color: var(--colors-btn-primary);
      }
    } 

    .el-date-table th {
      border-color: #2B2E39;
      color: var(--colors-label);
    }

    .el-date-table {
      td.current:not(.disabled) .el-date-table-cell__text {
        background-color: var(--colors-btn-primary);
      }
      td.disabled .el-date-table-cell {
        background-color: #292D3B !important;
      }
      td .el-date-table-cell__text:hover {
        color: var(--colors-btn-primary);
      }
      
    }

    .el-picker-panel__footer {
      .el-button {
        min-height: 32px;
        height: 32px;
        padding: 2px 10px;
        background-color: transparent !important;
        border: 1px solid transparent;
        &:not(.is-text):hover {
          color: var(--colors-primary);
          border: 1px solid var(--colors-primary);
          border-radius: 12px;
        }
        .is-text {
          color: var(--colors-primary);
        }
      }
      
    }

    .el-time-spinner__item {
      color: var(--colors-label);
      &.is-active {
       color: #fff !important;
      }
      &:hover {
        background-color: #292D3B !important;
        border-radius: 4px !important;
      }
    }
    .el-time-panel__footer {
      display: flex;
      padding-top: 4px;
      padding-bottom: 4px;
      button {
        flex: 1;
        color: #fff;
        &.confirm {
          color: var(--colors-primary);
          border-left: 1px solid #2B2E39;
        }
      }
    }
  }


.el-form {
  .el-form-item.is-success {
    margin-bottom: 22px;
  }
  .el-form-item {
    .el-form-item__error {
      padding-top: 4px;
    }
  }
  .el-form-item__error {
    color: var(--colors-error);
  }
}
.el-form.el-form--label-top {
  .el-form-item .el-form-item__label {
    padding: 0;
    margin-bottom: 12px;
    line-height: 16px;
    color: var(--colors-label);
    display: inline-block;
    width: 100%;
  }
}

.el-date-editor.el-input, .el-date-editor.el-input__wrapper {
  height: auto !important;
}

.el-loading-mask {
  background-color: var(--colors-mask) !important;
}
